.center {
    text-align: center;
}

.center .img {
    margin: auto 0;
}

#automate-all-the-things div {
    background: url("/images/automate.png") no-repeat center center;
    -webkit-background-size: contain;
    background-size: contain;
}

.full section.slide pre code {
    line-height: 34px;
}

.full section.slide:after {
    top: 60px;
    bottom: auto;
    left: auto;
    right: 125px;
    color: whitesmoke;
}
